<body class="page-body login-page login-form-fall">


<div class="login-container">
  
  <div class="login-header login-caret">
    
    <div class="login-content">
    <% if(flash && flash.err) { %>
     <ul class="alert alert-success">
     <% Object.keys(flash.err).forEach(function(error) { %>
     <li><%- JSON.stringify(flash.err[error]) %></li>
     <% }) %>
     </ul>
     <% } %>

      
      <a href="/" class="logo">
        <h1>Pingzilla</h1>
      </a>
      
      <p class="description">Please log in</p>
      
      <!-- progress bar indicator -->
      <div class="login-progressbar-indicator">
        <h3>43%</h3>
        <span>logging in...</span>
      </div>
    </div>
    
  </div>
  
  <div class="login-progressbar">
    <div></div>
  </div>
  
  <div class="login-form">
    
    <div class="login-content">
      
      <form action="/session/create" method="POST" role="form" id="form_login" class="form-signin" name="login">
        
        <div class="form-group">
          
          <div class="input-group">
            <div class="input-group-addon">
              <i class="entypo-user"></i>
            </div>
            
            <input type="text" class="form-control" placeholder="Email address" name="email" autocorrect="off" autocapitalize="off" />

          </div>
          
        </div>
        
        <div class="form-group">
          
          <div class="input-group">
            <div class="input-group-addon">
              <i class="entypo-key"></i>
            </div>
            <input type="password" class="form-control" placeholder="Password" name="password" />

          </div>
        
        </div>
        
        <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block btn-login">
            Login In
            <i class="fa fa-sign-in"></i>
          </button> 

          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </div>
        
      </form>
      
      
      <div class="login-bottom-links">
        <a href="/user/new/" class="link">Create an account</a> 
        <br />
        <a href="">ToS</a>  - <a href="/">Privacy Policy</a>
        
      </div>
      
    </div>
    
  </div>
  
</div>