<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Pingzilla | Uptime monitor</title>
  <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <!-- icons -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-152x152.png" />
  <!--[if lt IE 9]>
      <script src="js/ie/respond.min.js" cache="false"></script>
      <script src="js/ie/html5.js" cache="false"></script>
      <script src="js/ie/fix.js" cache="false"></script>
    <![endif]-->
    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `link` tags, or asynchronously
        on the client using a solution like AMD (RequireJS).  Or, if you like, you can
        take advantage of Sails' boilerplate asset management.

        By default, tylesheets from your `assets/linker/styles` folder are included
        here automatically.  Both CSS (.css) and LESS (.less) are supported.
        In production, your styles will be minified and concatenated into a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/neon/neon.css">
    <link rel="stylesheet" href="/linker/styles/animate.css">
    <link rel="stylesheet" href="/linker/styles/bootstrap.css">
    <link rel="stylesheet" href="/linker/styles/c-app.css">
    <link rel="stylesheet" href="/linker/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/linker/styles/font.css">
    <link rel="stylesheet" href="/linker/styles/landing.css">
    <link rel="stylesheet" href="/linker/styles/plugin.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
      window.overlord = { csrf: "<%= _csrf %>" };
    </script>

    <!-- The sound file tht will play on activity events -->
    <audio id="chatAudio">
      <source src="/sounds/notify.ogg" type="audio/ogg">
      <source src="/sounds/notify.mp3" type="audio/mpeg">
      <source src="/sounds/notify.wav" type="audio/wav">
    </audio>

  </head>

    
    <%- body %>

    <!--
        Client-side Templates
        ========================

    		HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically.
        
        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your templates using a server-side stringfile
              before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' boilerplate asset management.

      By default, filesin your `assets/linker/js` folder are included here
      automatically.  Both JavaScript (.js) and CoffeeScript (.coffee) are supported.
      In production, your scripts will be minified and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/jquery.js"></script>
    <script src="/linker/js/jquery.validate.min.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/app-ui.js"></script>
    <script src="/linker/js/app.plugin.js"></script>
    <script src="/linker/js/appear/jquery.appear.js"></script>
    <script src="/linker/js/apps/notes.js"></script>
    <script src="/linker/js/apps/tasks.js"></script>
    <script src="/linker/js/bootstrap.js"></script>
    <script src="/linker/js/customValidate.js"></script>
    <script src="/linker/js/easypiechart/jquery.easy-pie-chart.js"></script>
    <script src="/linker/js/landing.js"></script>
    <script src="/linker/js/libs/backbone-min.js"></script>
    <script src="/linker/js/libs/backbone.localStorage-min.js"></script>
    <script src="/linker/js/libs/jquery.pjax.js"></script>
    <script src="/linker/js/libs/jquery.transit.js"></script>
    <script src="/linker/js/libs/moment.min.js"></script>
    <script src="/linker/js/libs/underscore-min.js"></script>
    <script src="/linker/js/morris/morris.min.js"></script>
    <script src="/linker/js/morris/raphael-min.js"></script>
    <script src="/linker/js/neon/main-gsap.js"></script>
    <script src="/linker/js/neon/neon-login.js"></script>
    <script src="/linker/js/scroll/smoothscroll.js"></script>
    <script src="/linker/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/linker/js/underscore.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
