*:focus {
  outline: none!important;
}

body.landing {
    background-color: #373E4A;
    letter-spacing: 0;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    color: #CCCED0;
}

.landing .navbar-brand {
  font-weight: bold;
} 

.color-b {
  color: #428BCA;
}

.landing i.fa.fa-bars {
  color: #CCCED0;
}

.landing .bg-drkblue {
  background-color: #252D35;
}

.landing a {
  color: #CCCED0;
}

.color-y {
  color: #F5C11E!important;
}

.intro p {
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 1.3;
  padding: 0 7%;
  -webkit-font-smoothing: antialiased;
}

.btn-y {
  color: #252D35!important;
  background-color: #F5C11E;
  border-color: #F5C11E;
}


.landing .bg-light.dker {
  background-color: #373E4A;
}

.appear{
  visibility: hidden;
}

.landing{
  font-size: 14px;
  padding-top: 60px;
}
.landing .navbar-brand{
  font-size: 24px;
}
.landing .navbar.affix{
  left: 0;
  right: 0;
  padding: 0;  
  -webkit-transition: padding ease-in-out 0.3s;
    transition: padding ease-in-out 0.3s;
    /*background-color: rgba(255,255,255,0.95);*/
 }
.landing .navbar.affix .hide{display: inherit !important;}

.landing .navbar{
  /*border-bottom-color: #eee; */
}
.landing .navbar-text{
  margin-bottom: 0;
}

.landing .navbar-nav > .active > a:focus{
 /* background-color: #f9f9f9;*/
}

.landing .nav > li > a:hover, 
.landing .nav > li > a:focus {
  text-decoration: none;
  background-color: #EEE;
  color: #252D35
}


.landing img{
  max-width: 100%;
}
.landing .carousel{ 
}
.landing .carousel .carousel-control{
  width: 10%;
}
.landing .carousel .item{
  padding:100px 15px 0 15px;
  height: 580px;
  overflow: hidden;
}
.landing .carousel h2{
  font-size:3em;
  font-weight: 700;
  margin: 60px 0 40px;
  line-height: 1.3
}

.m-xl{
  margin-top: 60px; 
  margin-bottom: 60px;
}

.m-t-13 {
  margin-top: 13px;
}

/*phone*/
@media (min-width: 768px) {
  .landing .navbar, 
  .landing .navbar-brand, 
  .landing .navbar ul > li > a{
    line-height: 30px !important;
  }
}
@media (max-width: 767px) {
  .landing #header, 
  .landing  #header .container{
    padding: 0
  }
  .navbar-toggle{margin:5px 10px 5px 0}
  .landing .navbar-nav{margin: 0}
  .landing .carousel h2{
    font-size: 25px;
    margin: 20px 0
  }
  .landing .carousel .item{
    padding:60px 25px 40px 25px;
    height: 240px;
  }
}