<% if (session.authenticated) { %>
<body class="pingzilla">
  <section class="hbox stretch">
    <!-- .aside -->
    <aside class="bg-ping aside-sm nav-vertical" id="nav">
      <section class="vbox">
        <!-- .navigation -->
        <% include mainNav.ejs %>
        <!-- .end navigation -->
        <section class="scrollable" id="pjax-container">
          <header>
            <div class="row m-l-none m-r-none">
              <div class="col-sm-4">
                <h3 class="m-t m-b-none">Dashboard</h3>
                <p class="block text-muted">Hi <%= user.name %></p>
              </div>
              <div class="col-sm-8">
                <div class="clearfix m-t-lg m-b-sm pull-right pull-none-xs">
                  <div class="pull-left">                  
                    <div class="pull-left m-r-xs">
                      <span class="block">Users <span class="badge up bg-danger">+5</span></span>                    
                      <span class="h4">432k</span>
                      <i class="fa fa-level-up text-success"></i>
                    </div>
                    <div class="clear">
                      <div class="sparkline inline" data-type="bar" data-height="35" data-bar-width="4" data-bar-spacing="2" data-stacked-bar-color="['#afcf6f', '#eee']">5:5,8:4,12:5,10:6,11:7,12:2,8:6</div>
                    </div>
                  </div>
                  <div class="pull-left m-l-lg">
                    <div class="pull-left m-r-xs">
                      <span class="block">Profit</span>                    
                      <span class="h4">$4k</span>
                      <i class="fa fa-level-down text-danger"></i>
                    </div>
                    <div class="clear">
                      <div class="sparkline inline" data-type="bar" data-height="35" data-bar-width="4" data-bar-spacing="2" data-bar-color="#fb6b5b">6,5,8,9,6,3,5</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<!--             <div class="wrapper bg-light font-bold">
              <a href="#" class="m-r"><i class="fa fa-bar-chart-o fa-2x icon-muted v-middle"></i> Analysis</a>
              <a href="#" class="m-r"><span class="badge up m-r-n bg-danger">4</span><i class="fa fa-envelope fa-2x icon-muted  v-middle"></i> Message</a>
              <a href="#" class="m-r"><i class="fa fa-calendar fa-2x icon-muted  v-middle"></i> My Calendar</a>
              <a href="#"><i class="fa fa-cog fa-2x icon-muted  v-middle"></i> Settings</a>
            </div> -->
          </header>
          <section  class="hbox">
          <aside>
            <div class="col-sm-12">
              <section class="panel bb-none zilla-panel">
                <header class="panel-heading">Website Tracking</header>
                
                <table class="table table-striped m-b-none text-sm">
                <thead>
                  <tr>
                    <th>Trend</th>
                    <th>URL</th>                    
                    <th width="70">Code</th>
                  </tr>
                </thead>
                <tbody>
                <% if (user.userSites) { %>

                          <% for (var i in user.userSites) { %>
                              <% if (user.userSites[i] != "") { %>
                             
                                <tr>                    
                                  <td>
                                    <div class="sparkline" data-bar-color="#5cb85c" data-type="bar" data-height="19"><!--20,10,15,21,12,5,21,30,24,15,8,19--></div>
                                  </td>
                                  <td><a href="<%=user.userSites[i]%>" target="blank"><%= user.userSites[i] %></a></td>
                                  <td class="text-success"><i class="fa fa-level-up"></i> 200</td>
                                </tr>
                              <% } %>

                          <% }; %>
                          <% if (user.userSites[i] == "") { %>
                            <tr> 
                              <td><h4>No website added here yet.</h4></td>                 
                              <td><h4></h4></td>
                              <td></td> 
                            </tr>
                          <% } %>
                <% } else { %>
                  <tr> 
                    <td><h4>No websites added for tracking yet.</h4></td>                 
                    <td><h4></h4></td>
                    <td></td> 
                  </tr>
                <% } %>                

                   

                  </tbody>

                </table>
                
              </section>
            </div>
            <div class="col-md-6">
              <section class="panel zilla-panel ">
              <header class="panel-heading">Stacked</header>
              <div class="panel-body text-center">
              <div class="sparkline inline" data-type="bar" data-height="160" data-bar-width="12" data-bar-spacing="10" data-stacked-bar-color="['#afcf6f', '#eee']">5:5,8:4,12:5,10:6,11:7,12:2,8:6,9:3,5:5,4:9</div>
              <ul class="list-inline text-muted axis"><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li></ul>
              </div>
              </section>
            </div>
            <div class="col-md-6">
              <section class="panel zilla-panel ">
              <header class="panel-heading">Stacked</header>
              <div class="panel-body text-center">
              <div class="sparkline inline" data-type="bar" data-height="160" data-bar-width="12" data-bar-spacing="10" data-stacked-bar-color="['#afcf6f', '#eee']">5:5,8:4,12:5,10:6,11:7,12:2,8:6,9:3,5:5,4:9</div>
              <ul class="list-inline text-muted axis"><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li></ul>
              </div>
              </section>
            </div>
          </aside>
            <aside class="aside-lg">
              <section class="wrapper">
                <div class="text-center m-b">
                  <div class="inline">
                    <div class="easypiechart" data-percent="65" data-line-width="25" data-track-color="#eee" data-bar-color="#afcf6f" data-scale-color="#ddd" data-loop="false" data-size="180">
                      <span class="h2">60</span>%
                      <div class="easypie-text">Processing</div>
                    </div>
                  </div>
                </div>
                <div class="panel-group m-b" id="accordion2">
                  <div class="panel zilla-panel">
                    <div class="panel-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        Item #1
                      </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                      <div class="panel-body text-sm">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt.
                      </div>
                    </div>
                  </div>
                  <div class="panel zilla-panel">
                    <div class="panel-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        Item #2
                      </a>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body text-sm">
                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="panel zilla-panel">
                    <div class="panel-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        Item #3
                      </a>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body text-sm">
                        Sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                      </div>
                    </div>
                  </div>
                </div>
              </section>                      
            </aside>
          </section>
        </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>
    <!-- /.vbox -->
  </section>
	
<% } %>
