<body class="pingzilla">
  <section class="hbox stretch">
    <!-- .aside -->
    <aside class="bg-ping aside-sm nav-vertical" id="nav">
      <section class="vbox">
        <!-- .navigation -->
        <% include mainNav.ejs %>
        <!-- .end navigation -->
        <!-- /user settings form -->
        <section class="scrollable wrapper">
            <section id="basic">
              <div class="row">
                <div class="col-sm-6">
                  <section class="panel">
                    <header class="panel-heading font-bold">Account Settings for <%= user.name %></header>
                    <div class="panel-body">
                      <form role="form" action="/user/update/<%= user.id %>" method="POST">
                        <div class="form-group">
                          <label>Name</label>
                          <input value="<%= user.name %>" name="name" type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                          <label>Title</label>
                          <input value="<%= user.title %>" name="title" type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                          <label>Email address</label>
                          <input value="<%= user.email %>" name="email" type="text" class="form-control"/>
                        </div>
                        <% if (session.authenticated && session.User.admin) { %>
                          <% if (user.admin) { %>
                            <input type="hidden" name="admin" value="unchecked">
                            <label class="checkbox"><input type="checkbox" name="admin" checked> Admin</label>
                          <% } else { %>
                            <input type="hidden" name="admin" value="unchecked">
                            <label class="checkbox"><input type="checkbox" name="admin"> Admin</label>
                          <% } %> 
                        <% } %> 
                        <button type="submit" class="btn btn-sm btn-default">Submit</button>
                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                      </form>
                    </div>
                  </section>
                </div>
             
          <!-- /end user settings from -->
          <!-- /edit sites form -->
  
                <div class="col-sm-6">
<!--                   <section class="panel">
                    <header class="panel-heading font-bold">Add or Remove Sites</header>
                    <div class="panel-body">
                      <form role="form" class="sites" action="/user/updateSites/<%= user.id %>" method="POST">
                        <div class="form-group">
                        <% if (user.userSites) { %>  
                          <label>Site 1</label>
                          <input placeholder="eg: http://www.google.com" name="url" type="text" class="form-control" value="<%= user.userSites.one %>"/>
                        </div>
                        <div class="form-group">
                          <label>Site 2</label>
                          <input placeholder="eg: http://www.google.com" name="url2" type="text" class="form-control" value="<%= user.userSites.two %>"/>
                        </div>
                        <div class="form-group">
                          <label>Site 3</label>
                          <input placeholder="eg: http://www.google.com" name="url3" type="text" class="form-control" value="<%= user.userSites.three %>"/>
                        </div>
                        <% } else { %>
                        <label>Site 1</label>
                          <input placeholder="eg: http://www.google.com" name="url" type="text" class="form-control" placeholder="please add a site"/>
                        </div>
                        <div class="form-group">
                          <label>Site 2</label>
                          <input placeholder="eg: http://www.google.com" name="url2" type="text" class="form-control" placeholder="please add a site"/>
                        </div>
                        <div class="form-group">
                          <label>Site 3</label>
                          <input placeholder="eg: http://www.google.com" name="url3" type="text" class="form-control" placeholder="please add a site"/>
                        </div>
                        <% } %>
                            <button type="submit" class="btn btn-sm btn-default">Submit</button>
                            <button class="btn btn-sm btn-default">Add a site</button>
                            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                      </form>
                    </div>
                  </section> -->
                  <section class="panel">
                  <form role="form" class="sites" action="/user/updateSites/<%= user.id %>" method="POST">
                    <header class="panel-heading font-bold">Add or Remove Sites</header>
                    <div class="panel-body">
                        <br />
                        <div class="form-group inputs">
                        <% if (user.userSites !== '') { %>

                       <% for (var key in user.userSites) {  %>
                          <% var sitez = user.userSites %>
                          <% if (sitez.hasOwnProperty(key)) {%>
                            <% if (key !== 'id') {%>
                            <label><%= key %></label>
                              <input name="<%= key %>" type="text" class="form-control" value="<%= sitez[key] %>"/>
                             <% }%>
                          <% }%>
                        <% }%>

                        </div>
              
                        <% } else { %>
                        <label>Please add a site</label>
                        </div>
                        <% } %>

                            <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                            <button type="submit" class="submit btn btn-sm btn-default">Save</button>
                            <button id="add" class="btn btn-sm btn-default">Add a site</button>
                    </div>
                    </form>
                  </section>
                </div>
              </div> 
             </section>
          </section>
        <!-- /.end edit sites form -->
      </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>
    <!-- /.vbox -->
  </section>

