<body class="pingzilla">
  <section class="hbox stretch">
    <!-- .aside -->
    
    <!-- /.aside -->
    <!-- .vbox -->
    <section id="content">
      <section class="vbox">
        <header class="header bg-ping navbar navbar-inverse">
          <div class="collapse navbar-collapse pull-in">
            <ul class="nav navbar-nav navbar-right">
              <li class="hidden-xs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o text-white"></i>
                  <span class="badge up bg-info m-l-n-sm">2</span>
                </a>
                <section class="dropdown-menu animated fadeInUp input-s-lg">
                  <section class="panel ">
                    <header class="panel-heading">
                      <strong>You have <span class="count-n">2</span> notifications</strong>
                    </header>
                    <div class="list-group">
                      <a href="#" class="media list-group-item">
                        <span class="pull-left thumb-sm">
                          <img src="/images/avatar.jpg" alt="user avatar" class="img-circle">
                        </span>
                        <span class="media-body block m-b-none">
                          Use awesome animate.css<br>
                          <small class="text-muted">28 Aug 13</small>
                        </span>
                      </a>
                      <a href="#" class="media list-group-item">
                        <span class="media-body block m-b-none">
                          1.0 initial released<br>
                          <small class="text-muted">27 Aug 13</small>
                        </span>
                      </a>
                    </div>
                    <footer class="panel-footer text-sm">
                      <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
                      <a href="#">See all the notifications</a>
                    </footer>
                  </section>
                </section>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="thumb-sm avatar pull-left m-t-n-xs m-r-xs">
                    <img src="/images/avatar.jpg">
                  </span>
                  Admin <b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInLeft">

                  <li>
                    <a href="#">
                      <span class="badge bg-danger pull-right">3</span>
                      Notifications
                    </a>
                  </li>
                  <li>
                    <a href="/session/destroy">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left m-t-sm" role="search">
              <div class="form-group">
                <div class="input-group input-s">
                  <input type="text" class="form-control input-sm no-border bg-dark" placeholder="Search">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-sm btn-success btn-icon"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
            </form> 
          </div>
        </header>
        <div class="wrapper">
          <div class="row">
            <section class="panel zilla-panel">

              <div class="panel-body">
              
              <header class="panel-heading font-bold">         
                User Administration
              </header>
    	        <!-- user  admin section -->
    	        <table id="MyStretchGrid" class="table table-striped m-b-none text-sm">
                <tr>
                  <th></th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Title</th>
                  <th>Email</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                

                <% _.each(users, function(user) { %>
                <tr data-id="<%= user.id %>" data-model="user">
                  <% if (user.online) { %>
                    <td><img src="/images/icon-online.png"></td>
                  <% } else { %>
                    <td> <img src="/images/icon-offline.png"></td>
                  <% } %>
                  <td><%= user.id %></td>
                  <td><%= user.name %></td>
                  <td><%= user.title %></td>
                  <td><%= user.email %></td>
                  <% if (user.admin) { %>
                    <td> <img src="/images/admin.png"></td>
                  <% } else { %>
                    <td> <img src="/images/pawn.png"></td>
                  <% } %> 
                  <td><a href="/user/show/<%= user.id %>" class="btn btn-sm btn-primary">Show</a></td>
                  <td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Edit</a></td>

                  <td><form action="/user/destroy/<%= user.id %>" method="POST">
                    <input type="hidden" name="_method" value="delete"/>
                    <input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                  </form></td>
                </tr> 

                <% }) %>
              </table>				
            <!-- END user  admin section -->
              </div>
            </section>
            </section>
          </section>
          <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
        </section>
        <!-- /.vbox -->
      </section>
      </div>
    </div>