        <header class="bg-ping nav-bar">
          <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
            <i class="fa fa-bars"></i>
          </a>
          <a href="#" class="nav-brand" data-toggle="fullscreen">Ping</a>
          <a class="btn btn-link visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-comment-o"></i>
          </a>
        </header>
        <section>
        <!-- nav -->
          <% include sideNavAuth.ejs %>
        <!-- / nav -->
        </section>
        <footer class="footer bg-gradient hidden-xs">
          <a href="modal.lockme.html" data-toggle="ajaxModal" class="btn btn-sm btn-link m-r-n-xs pull-right">
            <i class="fa fa-power-off"></i>
          </a>
          <a href="#nav" data-toggle="class:nav-vertical" class="btn btn-sm btn-link m-l-n-sm">
            <i class="fa fa-bars"></i>
          </a>
        </footer>
      </section>
    </aside>
    <!-- /.aside -->
    <!-- .vbox -->
    <section id="content">
      <section class="vbox">
                <header class="header bg-ping navbar navbar-inverse">
          <div class="collapse navbar-collapse pull-in">
          <form class="navbar-form navbar-left m-t-sm" role="search">
              <div class="form-group">
                <div class="input-group input-s">
                  <input type="text" class="form-control input-sm no-border bg-dark" placeholder="Search">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-sm btn-success btn-icon"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li class="hidden-xs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o text-white"></i>
                  <span class="badge up bg-info m-l-n-sm">2</span>
                </a>
                <section class="dropdown-menu animated fadeInUp input-s-lg">
                  <section class="panel bg-white">
                    <header class="panel-heading">
                      <strong>You have <span class="count-n">2</span> notifications</strong>
                    </header>
                    <div class="list-group">
                      <a href="#" class="media list-group-item">
                        <span class="pull-left thumb-sm">
                          <img src="/images/avatar.jpg" alt="user avatar" class="img-circle">
                        </span>
                        <span class="media-body block m-b-none">
                          Use awesome animate.css<br>
                          <small class="text-muted">28 Aug 13</small>
                        </span>
                      </a>
                      <a href="#" class="media list-group-item">
                        <span class="media-body block m-b-none">
                          1.0 initial released<br>
                          <small class="text-muted">27 Aug 13</small>
                        </span>
                      </a>
                    </div>
                    <footer class="panel-footer text-sm">
                      <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
                      <a href="#">See all the notifications</a>
                    </footer>
                  </section>
                </section>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="thumb-sm avatar pull-left m-t-n-xs m-r-xs">
                    <img src="/images/avatar.jpg">
                  </span>
                  <% if (session.authenticated && session.User.admin) { %>
                  Logged as Admin <b class="caret"></b>
                  <% } else { %>
                  <%= user.name %> <b class="caret"></b>
                  <% } %>
                </a>
                <ul class="dropdown-menu animated fadeInLeft">
                  <% if (session.authenticated && session.User.admin) { %>
                  <li><a href="/user">User Administration</a></li>
                  <% } %>
                  <li>
                    <a href="/user/edit/<%= user.id %>">Account Settings</a>
                  </li>
                  <li>
                    <a href="/user/show/<%= user.id %>">View Profile</a>
                  </li>

				          <!-- 
                  <% if (user.admin) { %>
                  <img src="/images/admin.png"></td>
                  <% } else { %>
                 <img src="/images/pawn.png"></td>
                  <% } %> -->
                   
                  <li>
                    <a href="/session/destroy">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </header>