          <!-- nav -->
          <nav class="nav-primary hidden-xs">
            <ul class="nav">             
              <li>
                <a href="/user/dash/">
                  <i class="fa fa-flask"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li>
                <a href="mail.html">
                  <b class="badge bg-primary pull-right">3</b>
                  <i class="fa fa-envelope-o"></i>
                  <span>Sites</span>
                </a>
              </li>
              <li>
                <a href="notes.html">
                  <i class="fa fa-pencil"></i>
                  <span>Notes</span>
                </a>
              </li>
              <li>
                <a href="timeline.html">
                  <i class="fa fa-clock-o"></i>
                  <span>Timeline</span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- / nav -->