<body class="page-body login-page login-form-fall">
  <div class="login-container">
    <div class="login-header login-caret">
      <div class="login-content">
      <% if(flash && flash.err) { %>
       <ul class="alert alert-success">
       <% Object.keys(flash.err).forEach(function(error) { %>
       <li><%- JSON.stringify(flash.err[error]) %></li>
       <% }) %>
       </ul>
       <% } %>

        <a href="/" class="logo">
          <h1>Pingzilla</h1>
        </a>
        
        <p class="description">Create an account</p>
              <!-- progress bar indicator -->
        <div class="login-progressbar-indicator">
          <h3>43%</h3>
          <span>creating account...</span>
        </div>
      </div>
    </div>

  <div class="login-progressbar">
    <div></div>
  </div>

  <div class="login-form">
    <div class="login-content">
      <form action="/user/create" id="form_login" method="POST" class="signup-form panel-body" name="login">
      
          <input type="hidden" name="name" value="" />
          <input type="hidden" name="title" value="" />

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="entypo-user"></i>
                </div>
                <input type="email" placeholder="Email address" class="form-control" name="email" autocorrect="off" autocapitalize="off" />
              </div> 
          </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="entypo-user"></i>
                </div>
                <input type="password" id="inputPassword" placeholder="Password" class="form-control" name="password" />
              </div> 
          </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="entypo-user"></i>
                </div>
                <input type="password" id="confirmPassword" placeholder="Confirm password" class="form-control" name="confirmation" />
              </div>
            </div> 

            <!--div class="checkbox">
              <label>
                <input type="checkbox"> Agree the <a href="#">terms and policy</a>
              </label>
            </div-->

            <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-login">
                SIGN UP
                <i class="fa fa-sign-in"></i>
              </button>
            </div>

          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          <div class="login-bottom-links">
            <a href="">By signing up, you agree to the Terms of Service</a>
            <p class="text-muted text-center">
              <small>Already have an account?
              <a href="/session/new/"> Sign in <i class="fa fa-sign-in"></i></a> 
              </small>
            </p>
          </div>
        </form>
        </div> 
      </div>
    </div>
