<body class="pingzilla">
  <section class="hbox stretch">
    <!-- .aside -->
    <aside class="bg-ping aside-sm nav-vertical" id="nav">
      <section class="vbox">
      
        <!-- .navigation -->
        <% include mainNav.ejs %>
        <!-- .end navigation -->

        <!-- profile -->
        <div class="wrapper">
          <div class="row">
            <div class="col-lg-12">
              <section class="panel">
                <div class="panel-body">
                  <div class="clearfix text-center m-t">
                    <div class="inline">
                      <div class="easypiechart" data-percent="75" data-line-width="5" data-loop="false" data-bar-color="#92cf5c" data-track-Color="#f5f5f5" data-scale-Color="false" data-size="150">
                        <div class="thumb-lg">
                          <img src="/images/avatar.jpg" class="img-circle">
                        </div>
                      </div>
                      <div class="h4 m-t m-b-xs"><%= user.name %></div>
                      <small class="text-muted m-b"><%= user.title %></small>

                    </div>                      
                  </div>
                </div>
                <footer class="panel-footer bg-dark lter text-center">
                  <div class="row pull-out">
                    <div class="col-xs-4">
                      <div class="padder-v">
                        <span class="m-b-xs h4 block">email</span>
                        <small class="text-muted"><%= user.email %></small>
                      </div>
                    </div>
                    <div class="col-xs-4 bg-dark">
                      <div class="padder-v">
                        <span class="m-b-xs h4 block">title</span>
                        <small class="text-muted"><%= user.title %></small>
                      </div>
                    </div>
                    <div class="col-xs-4">
                      <div class="padder-v">
                        <span class="m-b-xs h4 block">Sites</span>
                        <small class="text-muted">30</small>
                      </div>
                    </div>
                  </div>
                </footer>
              </section>
            </div>
            </div>
            <div class="col-lg-12">
              <div class="row">
                  <section class="panel no-borders hbox">
                    <aside class="bg-info r-l text-center v-middle">
                      <div class="wrapper">
                        <i class="fa fa-sun-o fa-4x"></i>                      
                      </div>
                    </aside>
                    <aside>
                      <div class="wrapper text-center">
                        <p class="h1">79°</p>
                        <span>Partial sunshine</span>
                      </div>
                    </aside>
                  </section>
                  <section class="panel bg-warning no-borders">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="wrapper">
                          <p>All time sales</p>
                          <p class="h2 font-bold">32.5%</p>
                          <div class="progress progress-xs progress-striped active m-b-sm">
                            <div class="progress-bar progress-bar-warning" data-toggle="tooltip" data-original-title="32.5%" style="width: 32.5%"></div>
                          </div>
                          <div class="text-sm">of visitors purchased this item.</div>
                        </div>
                      </div>
                      <div class="col-xs-6 wrapper text-center">
                        <div class="inline m-t-sm">
                          <div class="easypiechart" data-percent="32.5" data-line-width="8" data-bar-color="#ffffff" data-track-Color="#c79d43" data-scale-Color="false" data-size="100">
                            <span class="h2">32.5</span>%
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>


 
        <!-- end profile -->

        </section>
      </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>
    <!-- /.vbox -->
  </section>


