<!-- nav -->
<nav class="nav-primary hidden-xs">
  <ul class="nav">             
    <li>
      <a href="/user/dash/<%= user.id %>">
        <b class="badge bg-primary pull-right">3</b>
        <i class="fa fa-dashboard"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a href="/user/edit/<%= user.id %>">
        <i class="fa fa-gears"></i>
        <span>Settings</span>
      </a>
    </li>
    <li>
      <a href="mail.html">
        <i class="fa fa-plus"></i>
        <span>Add Site</span>
      </a>
    </li>
    <li>
      <a href="mail.html">
        <i class="fa fa-minus"></i>
        <span>Remove Site</span>
      </a>
    </li>
    <li>
      <a href="/user/notes/<%= user.id %>">
        <i class="fa fa-pencil"></i>
        <span>Notes</span>
      </a>
    </li>
  </ul>
</nav>
<!-- / nav -->