body.page-fade>.page-container {
    -webkit-transform: scale(0.9) translateY(100px);
    -moz-transform: scale(0.9) translateY(100px);
    -o-transform: scale(0.9) translateY(100px);
    -ms-transform: scale(0.9) translateY(100px);
    transform: scale(0.9) translateY(100px);
    -webkit-transition: 400ms all ease-in-out;
    -moz-transition: 400ms all ease-in-out;
    -o-transition: 400ms all ease-in-out;
    transition: 400ms all ease-in-out;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0)
}

body.page-fade-init {
    background: #fff
}

body.page-fade-init>.page-container {
    -webkit-transform: scale(1) translateY(0px);
    -moz-transform: scale(1) translateY(0px);
    -o-transform: scale(1) translateY(0px);
    -ms-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: alpha(opacity=100);
    filter: alpha(opacity=100)
}

body.page-left-in {
    background: #303641;
    -webkit-transition: 400ms all ease-in-out;
    -moz-transition: 400ms all ease-in-out;
    -o-transition: 400ms all ease-in-out;
    transition: 400ms all ease-in-out;
    -webkit-transform-origin: 0,50%;
    -moz-transform-origin: 0,50%;
    -o-transform-origin: 0,50%;
    -ms-transform-origin: 0,50%;
    transform-origin: 0,50%;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000
}

body.page-left-in>.page-container {
    -webkit-transform: rotateY(8deg) translateX(-100px);
    -moz-transform: rotateY(8deg) translateX(-100px);
    -o-transform: rotateY(8deg) translateX(-100px);
    -ms-transform: rotateY(8deg) translateX(-100px);
    transform: rotateY(8deg) translateX(-100px);
    -webkit-transition: 400ms all ease-in-out;
    -moz-transition: 400ms all ease-in-out;
    -o-transition: 400ms all ease-in-out;
    transition: 400ms all ease-in-out;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0)
}

body.page-left-in-init {
    background: #fff
}

body.page-left-in-init>.page-container {
    -webkit-transform: rotateY(0deg) translateX(0px);
    -moz-transform: rotateY(0deg) translateX(0px);
    -o-transform: rotateY(0deg) translateX(0px);
    -ms-transform: rotateY(0deg) translateX(0px);
    transform: rotateY(0deg) translateX(0px);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: alpha(opacity=100);
    filter: alpha(opacity=100)
}

body.page-right-in {
    background: #303641;
    overflow-x: hidden;
    -webkit-transition: 400ms all ease-in-out;
    -moz-transition: 400ms all ease-in-out;
    -o-transition: 400ms all ease-in-out;
    transition: 400ms all ease-in-out;
    -webkit-transform-origin: 100%,50%;
    -moz-transform-origin: 100%,50%;
    -o-transform-origin: 100%,50%;
    -ms-transform-origin: 100%,50%;
    transform-origin: 100%,50%;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000
}

body.page-right-in>.page-container {
    -webkit-transform: rotateY(-8deg) translateX(100px);
    -moz-transform: rotateY(-8deg) translateX(100px);
    -o-transform: rotateY(-8deg) translateX(100px);
    -ms-transform: rotateY(-8deg) translateX(100px);
    transform: rotateY(-8deg) translateX(100px);
    -webkit-transition: 400ms all ease-in-out;
    -moz-transition: 400ms all ease-in-out;
    -o-transition: 400ms all ease-in-out;
    transition: 400ms all ease-in-out;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0)
}

body.page-right-in-init {
    background: #fff
}

body.page-right-in-init>.page-container {
    -webkit-transform: rotateY(0deg) translateX(0px);
    -moz-transform: rotateY(0deg) translateX(0px);
    -o-transform: rotateY(0deg) translateX(0px);
    -ms-transform: rotateY(0deg) translateX(0px);
    transform: rotateY(0deg) translateX(0px);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: alpha(opacity=100);
    filter: alpha(opacity=100)
}

body.page-fade-only {
    background: #303641;
    -webkit-transition: 900ms all cubic-bezier(0.445,0.050,0.550,0.950);
    -moz-transition: 900ms all cubic-bezier(0.445,0.050,0.550,0.950);
    -o-transition: 900ms all cubic-bezier(0.445,0.050,0.550,0.950);
    transition: 900ms all cubic-bezier(0.445,0.050,0.550,0.950);
    -webkit-transform-origin: 50%,30%;
    -moz-transform-origin: 50%,30%;
    -o-transform-origin: 50%,30%;
    -ms-transform-origin: 50%,30%;
    transform-origin: 50%,30%;
    -webkit-transform-origin: 50% 30%;
    -moz-transform-origin: 50% 30%;
    transform-origin: 50% 30%
}

body.page-fade-only>.page-container {
    -webkit-transition: 900ms all cubic-bezier(0.445,0.050,0.550,0.950);
    -moz-transition: 900ms all cubic-bezier(0.445,0.050,0.550,0.950);
    -o-transition: 900ms all cubic-bezier(0.445,0.050,0.550,0.950);
    transition: 900ms all cubic-bezier(0.445,0.050,0.550,0.950);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0)
}

body.page-fade-only-init {
    background: #fff
}

body.page-fade-only-init>.page-container {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: alpha(opacity=100);
    filter: alpha(opacity=100)
}

.login-page {
    background: #303641
}

.login-page .login-content {
    position: relative;
    width: 320px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    -webkit-transition: all 550ms ease-in-out;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out
}

.login-content.signup-page {
    width: 800px
}

.login-page .login-content a {
    color: #949494
}

.login-page .login-header {
    position: relative;
    background: #373e4a;
    padding: 100px 0;
    -webkit-transition: all 550ms ease-in-out;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out
}

.login-page .login-header .description {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 0;
    -webkit-transition: all 550ms ease-in-out;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out
}

.login-page .login-header.login-caret:after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    margin-left: -12.5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 12.5px 0 12.5px;
    border-color: #373e4a transparent transparent transparent;
    bottom: -13px;
    -webkit-transition: all 550ms ease-in-out;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out
}

.login-page .login-form {
    position: relative;
    padding-top: 60px;
    -webkit-transition: all 550ms ease-in-out;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out
}

.login-page .login-form .form-group {
    margin-bottom: 20px;
    -webkit-transition: all 550ms ease-in-out;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out
}

.login-page .login-form .form-group .input-group {
    background: #373e4a;
    border: 1px solid #373e4a;
    padding-top: 6px;
    padding-bottom: 6px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.login-page .login-form .form-group .input-group.focused {
    border-color: #626f85;
    border-color: rgba(98,111,133,0.5)
}

.login-page .login-form .form-group .input-group.validate-has-error {
    border-color: #ec5956;
    border-color: rgba(236,89,86,0.5)
}

.login-page .login-form .form-group .input-group.validate-has-error .error {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px;
    font-size: 10px
}

.login-page .login-form .form-group .input-group .input-group-addon,.login-page .login-form .form-group .input-group .form-control {
    background: transparent;
    border: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0); 
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0); 
}

.login-page .login-form .form-group .input-group .input-group-addon {
    position: relative
}

.login-page .login-form .form-group .input-group .input-group-addon:after {
    position: absolute;
    display: block;
    content: '';
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: #454a54;
    -webkit-transform: scaleY(.56);
    -moz-transform: scaleY(.56);
    -o-transform: scaleY(.56);
    -ms-transform: scaleY(.56);
    transform: scaleY(.56)
}

.login-page .login-form .form-group .input-group .form-control {
    color: #fff
}

.login-page .login-form .form-group .input-group .form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.login-page .login-form .form-group.lockscreen-input {
    margin-top: -155px
}

.login-page .login-form .form-group.lockscreen-input .lockscreen-thumb {
    position: relative;
    display: inline-block
}

.login-page .login-form .form-group.lockscreen-input .lockscreen-thumb img {
    border: 5px solid #373e4a
}

.login-page .login-form .form-group.lockscreen-input .lockscreen-thumb .lockscreen-progress-indicator {
    display: block;
    position: absolute;
    margin: 5px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 19px;
    text-align: center;
    line-height: 145px;
    background: rgba(0,0,0,0.3);
    visibility: hidden;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 550ms ease-in-out;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0)
}

.login-page .login-form .form-group.lockscreen-input .lockscreen-thumb canvas {
    position: absolute;
    left: 0;
    top: 0
}

.login-page .login-form .form-group.lockscreen-input .lockscreen-details {
    position: relative;
    padding-top: 5px
}

.login-page .login-form .form-group.lockscreen-input .lockscreen-details h4 {
    color: #fff
}

.login-page .login-form .form-group.lockscreen-input .lockscreen-details span {
    display: block;
    padding-bottom: 5px
}

.login-page .login-form .form-group .btn-login {
    border: 1px solid #454a54;
    background-color: transparent;
    text-align: left;
    padding: 15px 20px;
    font-size: 14px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out
}

.btn-login .fa {
    line-height: 1.45;
}

.login-page .login-form .form-group .btn-login i {
    float: right
}

.login-page .login-form .form-group .btn-login:hover,.login-page .login-form .form-group .btn-login:active {
    background: #373e4a
}

.login-page .login-bottom-links {
    padding-top: 40px;
    padding-bottom: 30px
}

.login-page .login-bottom-links a {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out
}

.login-page .login-bottom-links a:hover {
    color: #aeaeae
}

.login-page .login-bottom-links .link {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
    color: rgba(255,255,255,0.7);
    -webkit-transition: all 550ms ease-in-out;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out
}

.login-page .login-bottom-links .link:hover {
    color: #fff
}

.login-page .login-progressbar {
    height: 0;
    width: 100%;
    overflow: hidden;
    -webkit-transition: all 550ms ease-in-out;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out
}

.login-page .login-progressbar div {
    width: 0;
    -webkit-transition: 700ms all cubic-bezier(0.770,0.000,0.175,1.000);
    -moz-transition: 700ms all cubic-bezier(0.770,0.000,0.175,1.000);
    -o-transition: 700ms all cubic-bezier(0.770,0.000,0.175,1.000);
    transition: 700ms all cubic-bezier(0.770,0.000,0.175,1.000)
}

.login-page .login-progressbar-indicator {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100%;
    margin-top: 80px;
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translateY(100px) scale(0.2);
    -moz-transform: translateY(100px) scale(0.2);
    -o-transform: translateY(100px) scale(0.2);
    -ms-transform: translateY(100px) scale(0.2);
    transform: translateY(100px) scale(0.2);
    -webkit-transition: all 550ms ease-in-out;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out
}

.login-page .login-progressbar-indicator h3 {
    color: #fff;
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px
}

.login-page.logging-in .login-header {
    padding-top: 170px;
    padding-bottom: 30px
}

.login-page.logging-in .login-header.login-caret:after {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0)
}

.login-page.logging-in .login-header .description {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0)
}

.login-page.logging-in .login-form form,.login-page.logging-in .login-form .link {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-200px) scale(0.8);
    -moz-transform: translateY(-200px) scale(0.8);
    -o-transform: translateY(-200px) scale(0.8);
    -ms-transform: translateY(-200px) scale(0.8);
    transform: translateY(-200px) scale(0.8)
}

.login-page.logging-in .login-progressbar {
    background: #515b6d;
    height: 2px
}

.login-page.logging-in .login-progressbar div {
    background: #de6c65;
    height: 2px
}

.login-page.logging-in .login-progressbar-indicator {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-transform: translateY(0px) scale(1);
    -moz-transform: translateY(0px) scale(1);
    -o-transform: translateY(0px) scale(1);
    -ms-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1)
}

.login-page.logging-in-lockscreen .login-form .form-group.lockscreen-input .lockscreen-thumb .lockscreen-progress-indicator {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: alpha(opacity=100);
    filter: alpha(opacity=100);
    visibility: visible
}

.login-page.logging-in-lockscreen .login-form .form-group:nth-child(n+2),.login-page.logging-in-lockscreen .login-form .link {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-50px) scale(0.5);
    -moz-transform: translateY(-50px) scale(0.5);
    -o-transform: translateY(-50px) scale(0.5);
    -ms-transform: translateY(-50px) scale(0.5);
    transform: translateY(-50px) scale(0.5)
}

.login-page.login-form-fall .login-form {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    top: -100px;
    -webkit-transition: all 550ms ease-in-out;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out
}

.login-page.login-form-fall .login-form .form-group {
    -webkit-transition: all 550ms ease-in-out;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out;
    -moz-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    -webkit-transition-delay: 250ms;
    transition-delay: 250ms;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0)
}

.login-page.login-form-fall .login-form .form-group:nth-child(2) {
    -moz-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    -webkit-transition-delay: 350ms;
    transition-delay: 350ms
}

.login-page.login-form-fall .login-form .form-group:nth-child(3) {
    -moz-transition-delay: 450ms;
    -o-transition-delay: 450ms;
    -webkit-transition-delay: 450ms;
    transition-delay: 450ms
}

.login-page.login-form-fall-init .login-form {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: alpha(opacity=100);
    filter: alpha(opacity=100);
    top: 0
}

.login-page.login-form-fall-init .login-form .form-group {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: alpha(opacity=100);
    filter: alpha(opacity=100)
}

@media(max-width:991px) {
    .login-page .login-header {
        padding: 20px 0
    }

    .login-page .login-form {
        padding-top: 30px
    }

    .login-page .login-form .form-group.lockscreen-input {
        margin-top: 0
    }

    .login-page.logging-in .login-header {
        padding-top: 34px;
        padding-bottom: 6px
    }

    .login-page.logging-in .login-progressbar-indicator {
        margin-top: 60px
    }

    .login-page.logging-in .login-form form,.login-page.logging-in .login-form .link {
        -webkit-transform: translateY(-100px) scale(0.6);
        -moz-transform: translateY(-100px) scale(0.6);
        -o-transform: translateY(-100px) scale(0.6);
        -ms-transform: translateY(-100px) scale(0.6);
        transform: translateY(-100px) scale(0.6)
    }
}

@media(max-width:350px) {
    .login-page .login-content {
        width: 280px
    }
}